html {
	width: 100%;
	margin: 0 auto;
}

/* Background of page fill*/
body {
	background-color: black;
	width: 100%;
	margin: 0 auto;
}

html, body {
	overflow-x: hidden;
}

/*Row Styling*/
.row {
	font-size: 20px;
	font-family: sans-serif;
	margin: 0 auto;
}

/*Main Name Header Title Styling*/
h1 {
	background-color: transparent;
	color: #333;
	text-align: right;
	font-size: 38px;
	margin-top: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1%;
	display: inline-block;
	padding-right: 15%;
	padding-bottom: 1%;
	float: right;
	width: 100%;
	left: 40%;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	font-family: sans-serif;
	font-weight: 600;
	overflow: visible;
	animation: jesse 30s 1, flicker 5s infinite alternate;
	text-shadow: 0 0 5px #f90, 0 0 10px #f90, 0 0 15px #f90, 0 0 20px #fff, 0 0 25px #f90, 0 0 30px #fff, 0 0 35px #f90, 0 0 40px #f90;
}

/*Main Name Header Resize at 1700px -- (UltraWide-Window)*/
@media only screen and (max-width: 1700px) {
	h1 {
		text-align: right;
		padding-right: 15%;
		font-family: sans-serif;
		font-weight: 600;
		overflow: visible;
		margin-top: 55%;
		animation: jesse 20s 1, altflicker 5s infinite alternate;
	}
}


/*Main Name Header Resize at 1200px -- (Full-Window)*/
@media only screen and (max-width: 1200px) {
	h1 {
		text-align: right;
		padding-right: 10%;
		font-family: sans-serif;
		font-weight: 600;
		overflow: visible;
		margin-top: 50%;
		animation: jesse 20s 1, altflicker 5s infinite alternate;
	}
}

@media only screen and (max-width: 960px) {
	h1 {
		text-align: center;
		padding-right: 0;
		float: right;
		padding-bottom: 3%;
		font-family: sans-serif;
		font-weight: 600;
		overflow: visible;
		margin-top: 55%;
		animation: jessemobile 20s 1, altflicker 5s infinite alternate;
	}
}

@media only screen and (max-width: 280px) {
	h1 {
		text-align: center;
		padding-right: 0;
		float: right;
		padding-bottom: 3%;
		font-family: sans-serif;
		font-weight: 600;
		overflow: visible;
		margin-top: 50%;
		animation: jessemobile 20s 1, altflicker 5s infinite alternate;
	}
}

/* Body Paragraph Header Title*/
h2 {
	font-family: 'Century Gothic';
	font-size: 30px;
	margin-top: 0;
	width: 100%;
	background-color: transparent;
}

/*All Header Shadow Styling*/
h1, h2, spanT, #AboutNav a, .returnlink {
	text-shadow: 0px 0px 6px rgba(50,25,55,0.5);
}

#fullbio {
	color: #E58900;
	font-size: 16px;
}

	#fullbio:hover {
		color: #f90;
		text-shadow: 0px 0px 6px rgba(128,128,128, 0.6);
	}

/*AboutPicture Styling & Positioning*/
#AboutPicture {
	position: absolute;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10%;
	display: block;
	top: 5%;
	float: left;
	animation: AboutPicture 3s;
}

/*About Picture Resize at 700 px -- (Half-Window)*/
@media only screen and (max-width: 1250px) {
	#AboutPicture {
		margin-top: 20%;
		margin-left: 5%;
		margin-right: 5%;
		animation: AboutPictureMobile 3s;
		display: block;
		top: 10%;
		float: left;
		position: absolute;
	}
}

@media only screen and (max-width: 750px) {
	#AboutPicture {
		margin-top: 30%;
		margin-left: 5%;
		margin-right: 5%;
		animation: AboutPictureMobile2 3s;
		display: block;
		top: 10%;
		float: left;
		position: absolute;
	}
}

/*AboutPicture Size and Border*/
img {
	height: 35%;
	width: 40%;
	border-radius: 4%;
}
	/*AboutPicture Bounces when Hovered*/
	img:hover {
		animation: hoverbody 1s;
	}

	img:focus {
		animation: hoverbody 1s;
	}

/*Body Paragraph Styling*/
SpanA {
	font-family: 'Century Gothic';
	font-size: 20px;
	margin-right: 5%;
}

spanB {
	color: black;
}

	spanB:hover {
		color: #Fe5c00;
		font-weight: 800;
		transition: ease-in-out
	}

spanD {
	font-size: 15px;
	opacity: 0.8;
}

spanE {
	font-size: 18px;
	margin-left: 2%;
}

spanF {
	font-size: 16px;
	margin-top: -1%;
	margin-left: 4%;
}


/*About Paragraph Positioning -- (About)*/
#About1 {
	top: 20%;
	padding-right: 0;
	display: block;
	text-align: left;
	position: absolute;
	left: 45%;
	float: right;
}

	/*About Paragraph Bounces when Hovered*/
	#About1:hover {
		animation: hoverbody 1s;
	}

	#About1:focus {
		animation: hoverbody 1s;
	}

/*About Paragraph 700 px Resizing -- (mobile)*/
@media only screen and (max-width: 600px) {
	#About1 {
		top: 75%;
		position: absolute;
		margin-top: 10%;
		margin-bottom: 5%;
		left: 4%;
		margin-left: 0 auto;
		padding: 2%;
		margin-right: 0 auto;
		width: 92%;
	}
}

/*First Paragraph Styling -- (About)*/
#Ap3 {
	background-color: white;
	border-radius: 4%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: auto;
	margin-right: 5%;
	margin-bottom: auto;
	margin-top: 2%;
	font-family: Calibri;
	font-size: 20px;
	display: block;
	float: right;
	width: 100%;
	position: relative;
	animation: About1 3s
}

/*About & Education 700 px Resize -- (Half/Full-Window)*/
@media only screen and (max-width: 1200px) {
	#Ap3 {
		background-color: white;
		border-radius: 4%;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 5%;
		padding-top: 3%;
		margin-left: 0 auto;
		margin-right: 0 auto;
		margin-bottom: auto;
		margin-top: 5%;
		font-family: Calibri;
		font-size: 20px;
		display: block;
		position: relative;
		width: 90%;
	}
}

@media only screen and (min-width: 1200px) {
	#Ap3 {
		background-color: white;
		border-radius: 4%;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 5%;
		padding-top: 3%;
		margin-left: 0 auto;
		margin-right: 0 auto;
		margin-bottom: auto;
		margin-top: 4%;
		font-family: Calibri;
		font-size: 20px;
		display: block;
		position: relative;
		width: 90%;
	}
}

@media only screen and (max-width: 620px) {
	#Ap3 {
		background-color: white;
		border-radius: 4%;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 5%;
		padding-top: 3%;
		margin-left: 0 auto;
		margin-right: 0 auto;
		margin-bottom: auto;
		margin-top: 5%;
		font-family: Calibri;
		font-size: 20px;
		display: block;
		position: relative;
		width: 90%;
	}
}


/*Initial Paragraph after About 1 (WideScreen) -- (Education)*/
#About2 {
	margin-top: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1%;
	padding: 2%;
	text-align: left;
	position: relative;
	background-color: white;
	border-radius: 4%;
	width: 80%;
}

	/* About2 (Education) bounces when hovered*/
	#About2:hover {
		animation: hoverbody 1s;
	}
	/*About 2 (Education) bounces on cursor focus*/
	#About2:focus {
		animation: hoverbody 1s;
	}


/* About2 Spacing for Different Size Screen Widths -- (Education)*/
/*-- 550 px Resize -- (iPhone)*/
@media only screen and (max-width: 1000px) {
	#About2 {
		margin-top: 275%;
	}
}

@media only screen and (max-width: 400px) {
	#About2 {
		margin-top: 360%;
	}
}

@media only screen and (max-width: 280px) {
	#About2 {
		margin-top: 450%;
	}
}

@media only screen and (min-width: 1000px) {
	#About2 {
		margin-top: 105%;
	}
}

@media only screen and (min-width: 1450px) {
	#About2 {
		margin-top: 75%;
	}
}



/*Styling for Paragraphs following About 2 -- (Work Experience, Development Skills, Soft Skills, Invovlement)*/
#About3 {
	margin-top: 7%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1%;
	padding: 2%;
	text-align: left;
	position: relative;
	background-color: white;
	border-radius: 4%;
	width: 80%;
	left: 0;
}

	/*About3 bounce on hover --  (Work Experience, Development Skills, Soft Skills, Invovlement)*/
	#About3:hover {
		animation: hoverbody 1s;
	}
	/*About3 bounce on focus --  (Work Experience, Development Skills, Soft Skills, Invovlement)*/
	#About3:focus {
		animation: hoverbody 1s;
	}

/* Return Home Top Nav Visible only 1200px through 3000px*/
.ReturnHomeTop {
	transform: rotate(90deg);
	color: white;
	border-radius: 4%;
	position: absolute;
	left: -3%;
	transition: 0.3s;
	padding: 10px;
	width: 115px;
	height: 100px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	font-family: Calibri;
	top: 25%;
	background-color: #333;
	opacity: 0;
	animation: none;
}

	/*Return Home Top Nav Link Text Styling*/
	.ReturnHomeTop a {
		color: white;
		display: block;
		background-color: #333;
		opacity: 0.7;
	}
	/*Return Home Top Nav Hover Animation*/
	.ReturnHomeTop:hover {
		left: -4%;
		color: white;
		opacity: 1;
	}

/*Return Home Top Nav turn Invisible at < 1200 px*/
@media only screen and (min-width: 1200px) {
	.ReturnHomeTop {
		animation: ReturnTop 3s;
		opacity: 1;
	}
}
/*Return Home Top Nav move left 4% at >= 1800 px*/
@media only screen and (min-width: 2400px) {
	.ReturnHomeTop {
		opacity: 0;
		animation-play-state: paused;
	}
}


/*Return to home Button*/
@media only screen and (min-width: 800px) {
	#AboutReturnBottom {
		height: 25px;
		width: 100px;
		background-color: transparent;
		border-radius: 4%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15%;
		color: white;
		text-decoration: none;
	}
}

/*Return to home Button*/
#AboutReturnBottom {
	height: 25px;
	width: 100%;
	background-color: transparent;
	border-radius: 4%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 400px) {
	#AboutReturnBottom {
		height: 25px;
		width: 100%;
		background-color: transparent;
		border-radius: 4%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5%;
		color: white;
		text-decoration: none;
		margin-bottom: 10px;
	}
}

/*Return to home - Inside Box / Text* -- (bottom of page)*/
#Return {
	background-color: grey;
	border-radius: 10%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Century Gothic';
	text-decoration: none;
	text-decoration-style: none;
	font-size: 30px;
	color: white;
	transition: 0.3s;
	width: 100px;
}

/*Extra Link Text* Styling*/
a.returnlink {
	color: white;
	text-decoration-style: none;
	text-decoration: none;
	animation: followsocial 3s infinite;
	animation-delay: 5s;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

	a.returnlink:hover {
		color: #fff;
		text-decoration-style: none;
		text-decoration: none;
	}

/*Return to home button hover Styling*/
#Return:hover {
	animation: Return 1s;
	text-decoration-style: none;
	text-decoration: none;
	color: white;
}

a {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

/*Return to home button click Styling*/
#Return:active {
	border-radius: 10%;
	animation: Return 1s;
	text-decoration-style: none;
	text-decoration: none;
	color: white;
}

/*AboutNav at Top of Page*/
#AboutNav {
	display: inline-block;
	left: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
	position: fixed;
	bottom: 93%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	background-color: #333;
	font-family: Calibri;
	columns: 6;
	-webkit-columns: 6;
	-moz-columns: 6;
	opacity: 0.7;
	animation: AboutNav 3s;
}

	/*About Nav Links Styling*/
	#AboutNav a {
		width: 100%;
		margin: 0;
		padding: 10px 10px;
		display: block;
		color: white;
		text-align: center;
		opacity: 0.7;
		text-decoration: none;
		animation: AboutNavLetters 3s;
		border: 3px;
		border-color: black;
	}

		/*AboutNav Links Hover Animation*/
		#AboutNav a:hover {
			color: white;
			opacity: 1;
		}

/*Main About Nav Resize at 1200 px -- 2 Columns 85% bottom*/
@media only screen and (max-width: 1200px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		bottom: 85%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5%;
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile2 3s; /*85% Bottom*/
	}
}

/*Main About Nav Resize at 500 px -- 2 Columns 80% bottom*/
@media only screen and (max-width: 800px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 0;
		align-content: center;
		list-style: none;
		bottom: 87%;
		margin: 0 auto;
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile3 3s; /*87% Bottom*/
	}
}

@media only screen and (max-width: 650px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 0;
		align-content: center;
		list-style: none;
		bottom: 85%;
		margin: 0 auto;
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile2 3s; /*85% Bottom*/
	}
}

@media only screen and (max-width: 340px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 0;
		align-content: center;
		list-style: none;
		bottom: 83%;
		margin: 0 auto;
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile 3s; /*83% Bottom*/
		font-size: 17px;
	}
}

@media only screen and (max-width: 280px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 0;
		align-content: center;
		list-style: none;
		bottom: 83%;
		margin: 0 auto;
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile 3s; /*83% Bottom*/
		font-size: 14px;
	}
}

/*About Nav Links Resize at 500 px -- (iPhone)*/
@media only screen and (max-width: 500px) {
	#AboutNav a {
		width: 100%;
		margin: auto;
		padding: 0;
		display: inline-block;
		color: white;
		text-align: center;
		opacity: 0.7;
		text-decoration: none;
		animation: AboutNavLetters 3s;
	}
}


/*
/*START FOOTER STYLING*/
/*
/*
/*Main Footer Div*/
.footer {
	width: 100%;
	background-color: #333;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
}

/*Adjust Sizing on -- (iPhone)*/
@media (max-width:767px) {
	.footer {
		padding: 0;
		font-size: 10px;
		margin-top: 20%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: center;
	}
}

/*footer link positioning*/
.footer a {
	color: white;
	margin-left: auto;
	margin-right: auto;
	animation: followname 3s infinite;
	animation-delay: 3s;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
	/*Full Name in Copyright text hover animation*/
	.footer a:hover {
		text-decoration: none;
		color: white;
	}

/*Copyright text left align*/
.copyright-text {
	margin: auto;
	text-align: left;
}

/*Adjust alignment on -- (iPhone) */
@media only screen and (max-width:767px) {
	.copyright-text {
		text-align: center;
		margin: auto;
	}
}

/*Align content center*/
.footer .copyright-text, .site-footer .social-icons {
	text-align: center
}

}
/*Main footer bubble div and link styling*/
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	border: black;
	border-width: 2px;
}

#balls {
	padding-left: 0px;
}

#bouncingbubbles {
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 400px) {
	.social-icons {
		padding-left: 0;
	}
}

/*footer links spacing*/
.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}
	/*footer copyright information styling*/
	.social-icons li.title {
		margin-right: 15px;
		text-transform: uppercase;
		color: #96a2b2;
		font-weight: 700;
		font-size: 13px
	}

/*footer bubble linking and ease transition*/
.social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
	/*footer bubble 1 color animation*/
	.social-icons a.social1 {
		animation: movesocial1 3s infinite;
		animation-delay: 2s;
		border: black;
		border-width: 2px;
	}
	/*footer bubble 2 color animation*/
	.social-icons a.social2 {
		animation: movesocial2 3s infinite;
		animation-delay: 3s;
		border: black;
		border-width: 2px;
	}
	/*footer bubble 3 color animation*/
	.social-icons a.social3 {
		animation: movesocial3 3s infinite;
		animation-delay: 4s;
		border: black;
		border-width: 2px;
	}
	/*footer bubble 4 color animation*/
	.social-icons a.social4 {
		animation: movesocial4 3s infinite;
		animation-delay: 5s;
		border: black;
		border-width: 2px;
	}

/*footer bubble sizing*/
.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}


/*footer bubble 1*/
.social-icons a.social1:hover {
	background-color: #383838
}
/*footer bubble 2*/
.social-icons a.social2:hover {
	background-color: #282828
}
/*footer bubble 3*/
.social-icons a.social3:hover {
	background-color: #181818
}
/*footer bubble 4*/
.social-icons a.social4:hover {
	background-color: #000000
}

@media (max-width:767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600
	}
}
/*END OF FOOTER*/

/*
/*END OF GENERAL BODY STYLING*/
/*
/*
/*START ALL ANIMATIONS*/
/*
/*Full Name Animation*/

/*About1 (About) -- Paragraph Entrance Animation*/
@keyframes About1 {
	0% {
		margin-right: 200%
	}

	100% {
		margin-right: 5%;
	}
}

/*About Picture Entrance Animation*/
@keyframes AboutPicture {
	0% {
		margin-left: -100%;
		opacity: 0;
		border-radius: 0;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		margin-left: 10%;
	}
}

/*About Picture Entrance Animation at 700 px -- (Half-Window)*/
@keyframes AboutPictureMobile {
	0% {
		margin-left: -100%;
		opacity: 0;
		border-radius: 0;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		margin-top: 20%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

@keyframes AboutPictureMobile2 {
	0% {
		margin-left: -100%;
		opacity: 0;
		border-radius: 0;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		margin-top: 30%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*Animation for all general body to bounce on hover*/
@keyframes hoverbody {
	0%, 20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	60% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

/*Return Home Top Nav Intro Animation*/
@keyframes ReturnTop {
	0% {
		opacity: 0;
		margin-left: -20%;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 0;
		margin-left: -20%;
	}

	90% {
		opacity: 0.7;
	}

	100% {
		opacity: 0.7;
		margin-left: 0;
	}
}

/* Main Nav Intro Animation */
@keyframes AboutNav {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 93%;
		opacity: 0.5;
	}
}

/* Main Nav Intro at 83% from Bottom */
@keyframes AboutNavMobile {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 83%;
		opacity: 0.5;
	}
}

/* Main Nav Intro at 85% from Bottom */
@keyframes AboutNavMobile2 {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 85%;
		opacity: 0.5;
	}
}

/* Main Nav Intro at 87% from Bottom */
@keyframes AboutNavMobile3 {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 87%;
		opacity: 0.5;
	}
}

/*AboutNav Links - Intro Animation*/
@keyframes AboutNavLetters {
	0% {
		background-color: #333;
		opacity: 0;
	}

	100% {
		background-color: #333;
		opacity: 0.5;
	}
}

/*Return button click (active) and hover Animation */
@keyframes Return {
	0%, 20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	60% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}


@keyframes movesocial1 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: white;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: transparent;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes movesocial2 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: #f90;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: white;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes movesocial3 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: white;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: transparent;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes movesocial4 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: white;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: white;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes followsocial {
	0% {
		color: white
	}

	25% {
		color: white;
	}

	50% {
		color: white;
	}

	75% {
		color: #f90;
	}

	100% {
		color: white;
	}
}

@keyframes followname {
	0% {
		color: white
	}

	25% {
		color: #f90;
	}

	50% {
		color: white;
	}

	75% {
		color: white;
	}

	100% {
		color: white;
	}
}

@keyframes jessemobile {
	0% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	15% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	30% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	45% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	55% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	65% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	75% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	90% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}
}

/*New page load name animation*/
@keyframes jesse {
	0% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	15% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	30% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	45% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	55% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	65% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	75% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	90% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 5px;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}
}

/* Flickering animation */
@keyframes flicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px #f90, 0 0 11px #f90, 0 0 19px #f90, 0 0 40px #fff, 0 0 80px #f90, 0 0 90px #fff, 0 0 100px #f90, 0 0 150px #f90;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

@keyframes altflicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 5px #f90, 0 0 10px #f90, 0 0 15px #f90, 0 0 20px #fff, 0 0 25px #f90, 0 0 30px #fff, 0 0 35px #f90, 0 0 40px #f90;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

/*END ANIMATIONS*/


/*Below are archived animations*/
/*----h1 desktop animation----*/
/*
@keyframes h1 {
	0% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
		letter-spacing: normal;
		opacity: 1;
	}

	25% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
		-webkit-transform: translateX(15px);
		transform: translateX(15px);
		letter-spacing: 10px;
		color: white;
		opacity: 0.7;
		padding-right: 25%;
	}

	50% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
		letter-spacing: -10px;
		color: #303030;
		opacity: 1;
		padding-right: 40%;
	}

	75% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
		letter-spacing: 10px;
		color: white;
		opacity: 1;
		padding-right: 25%;
	}

	100% {
		-webkit-transform: translateY(30);
		transform: translateY(30);
		letter-spacing: normal;
		opacity: 1;
	}
}

/*-----Full Name Animation on Screens 500 px -- (iPhone)------*/
/*
@keyframes h1mobile {
	0% {
		-webkit-transform: translateY(30px);
		transform: translateY(35px);
		letter-spacing: normal;
		opacity: 1;
	}

	25% {
		-webkit-transform: translateY(-80px);
		transform: translateY(-80px);
		letter-spacing: 5px;
		color: white;
		opacity: 0.5;
	}

	50% {
		-webkit-transform: translateY(35px);
		transform: translateY(35px);
		letter-spacing: normal;
		color: #303030;
		opacity: 0.7;
	}

	75% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		letter-spacing: 5px;
		color: white;
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(35px);
		transform: translateY(35px);
		letter-spacing: normal;
		opacity: 1;
    }
    */
