/*
/*
/*
/*
	About Page Style Sheet - www.jessearmenio.com
	Written and Maintained by Jesse Armenio
	please email jesse.armenio@gmail.com with any questions.
/*
/*
/*

/*font reference*/
@font-face {
	font-family: 'subspace-webfont';
	src: url('subspace-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Aller_Std_Bd';
	src: url('Aller_Std_Bd.ttf') format('truetype');
}
/*
----Basic Page Styling
*/
/*width 100%*/
html {
	width: 100%;
	margin: 0 auto;
}

/* Background of page fill*/
body {
	background: black;
	width: 100%;
	margin: 0 auto;
}

html, body {
	overflow-x: hidden;
}

container-fluid {
	width: 100%;
	margin: auto;
}

/*Row Styling*/
.row {
	font-size: 20px;
	font-family: sans-serif;
	margin: 0 auto;
}

@media only screen and (max-width: 800px) {
	#duh {
		margin-left: -10% !important;
	}
}

@media only screen and (max-width: 800px) {
	#duh {
		margin-left: -10% !important;
	}
}

@media only screen and (max-width: 800px) {

	li::marker {
		margin: 0 1px 0 1px !important;
	}
}

/*
/*
---- Link Styling
*/
/*
*/
/*Soft Skills List*/
ol {
	list-style-type: disc;
	list-style-position: inside
}

	/*Soft Skills columns*/
	ol li {
		float: left;
		width: 50%;
	}

/*Links*/
a {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

/*
/*
-----Header 1 (Jesse Armenio)
*/
/*
*/

/*Body Paragraph Styling*/
SpanA {
	font-family: 'Century Gothic';
	font-size: 20px;
	margin-right: 5%;
}

@media only screen and (max-width: 800px) {
	spanw {
		font-size: 15px;
	}
}

/*Oklahoma State University font color*/
spanB {
	color: #Fe5c00;
}

#errormessage {
	width: 400px;
	height: 75%;
	font-size: 20px;
	font-family: 'Arial Rounded MT';
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: black;
}

@media only screen and (max-width: 800px) {
	#errormessage {
		font-size: 14px;
	}
}


#confused {
	text-align: center;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

/*
	#errormessage:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000000;
		border: 1px solid white;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	#errormessage:hover:before, #errormessage:focus:before, #errormessage:active:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		color: #f90
	}

About2 (Education) animation when hovered
#errormessage:hover spanZ{
	color: #f90;
}

	#errormessage:hover spanR {
		color: white;
	}

	#errormessage:hover spanJ {
		color: white;
	}

	*/
@media only screen and (max-width: 800px) {
	spanR {
		margin-top: -10%;
	}
}

spanW {
	font-size: 45px;
	font-weight: 600;
	color: #f90;
}

spanE {
	font-size: 24px;
	color: #f90;
}

spanJ {
	font-size: 16px;
	font-family: Aller_Std_Bd
}

spanM {
	color: #f90;
}

	spanM:hover {
		color: #333;
	}

/*smaller texts for error solution*/
spanI {
	font-size: 18px;
}

@media only screen and (max-width: 800px) {
	spanI {
		font-size: 14px;
	}
}
/*
/*
/*
/*Styling for Top left side appear tab to return home
/*
/*
/*
*/
/*side nav - return home button*/
#aboutsidenav a {
	position: absolute;
	left: -80px;
	transition: 0.3s;
	padding: 20px;
	width: 120px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 15px 0;
	opacity: 0.7
}

	/*hover return full visibility*/
	#aboutsidenav a:hover {
		left: 0;
		opacity: 1;
	}

/*coloring and position for button*/
#home {
	top: 250px;
	background-color: #333;
	opacity: 0.7;
}

@media only screen and (max-width: 800px) {
	#home {
		opacity: 0;
		top: -100px;
	}
}


/*
/*Styling for Redirect to home page at top of page // fixed
/*
/*
/*
*/
/*AboutNav at Top of Page*/
#AboutNav {
	display: inline-block;
	left: 0;
	padding: 40px 0px 0px 0px;
	margin: 0;
	overflow: hidden;
	text-align: center;
	position: fixed;
	bottom: 95%;
	width: 100%;
	list-style: none;
	background-color: #333;
	font-family: Calibri;
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
	opacity: 0.7;
	animation: AboutNav ease 3s;
}

	/*About Nav Links Styling*/
	#AboutNav a {
		width: 100%;
		margin: 0;
		padding: 10px 10px;
		display: block;
		color: white;
		text-align: center;
		opacity: 0.7;
		text-decoration: none;
		animation: AboutNavLetters ease 3s;
		border: 3px;
		border-color: black;
	}

		/*AboutNav Links Hover Animation*/
		#AboutNav a:hover {
			color: white;
			opacity: 1;
		}


/*Main About Nav Resize at 500 px -- 2 Columns 80% bottom*/
@media only screen and (max-width: 800px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 60px 0px 0px 0px;
		align-content: center;
		list-style: none;
		bottom: 95%;
		margin: 0 auto;
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile3 ease 3s; /*87% Bottom*/
	}
}

@media only screen and (max-width: 540px) {
	#AboutNav {
		display: inline-block;
		margin: 0;
		padding: 80px 0px 0px 0px;
		align-content: center;
		list-style: none;
		bottom: 95%;
		margin: 0 auto;
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		opacity: 0.7;
		width: 100%;
		animation: AboutNavMobile3 ease 3s; /*87% Bottom*/
	}
}


/*About Nav Links Resize at 500 px -- (iPhone)*/
@media only screen and (max-width: 500px) {
	#AboutNav a {
		width: 100%;
		margin: auto;
		padding: 0;
		display: inline-block;
		color: white;
		text-align: center;
		opacity: 0.7;
		text-decoration: none;
		animation: AboutNavLetters ease 3s;
	}
}
/*
/*
/*START FOOTER STYLING*/
/*
/*
/*
/*Main Footer Div*/
.footer {
	width: 100%;
	background: linear-gradient(#000000, #737373);
	padding: 45px 0 20px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	position: absolute;
}

/*Adjust Sizing on -- (iPhone)*/
@media (max-width:767px) {
	.footer {
		padding: 0;
		font-size: 10px;
		margin-top: 20%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: center;
	}
}

/*footer link positioning*/
.footer a {
	color: white;
	margin-left: auto;
	margin-right: auto;
	animation: followname 3s infinite;
	animation-delay: 3s;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
	/*Full Name in Copyright text hover animation*/
	.footer a:hover {
		text-decoration: none;
		color: white;
	}
/*
/*
Social Media footer icons and hover*/
/*
*/
#social_icon_footer {
	margin-left: 0 auto;
	margin-right: 0 auto;
	background-color: transparent;
	width: 100%;
}

	#social_icon_footer a {
		color: #333;
		animation: none;
		animation-delay: 0;
	}

	#social_icon_footer .social:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	#social_icon_footer .social {
		-webkit-transform: scale(0.8);
		/* Browser Variations: */
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
	}
	/* Multicoloured Hover Variations */

	#social_icon_footer #social-fb:hover {
		color: #3B5998;
	}

	#social_icon_footer #social-gh:hover {
		color: #b300b3;
	}

	#social_icon_footer #social-ln:hover {
		color: #008fdd;
	}

	#social_icon_footer #social-em:hover {
		color: #F47174;
	}

/*"Made by" Heart coloring*/
.heart {
	color: salmon;
}

/*Adjust alignment on -- (iPhone) */
@media only screen and (max-width:767px) {
	.copyright-text {
		text-align: center;
		margin: auto;
	}
}

/*Align content center*/
.footer .copyright-text, .site-footer .social-icons {
	text-align: center;
	margin: auto;
	font-size: 15px;
}

/*space in-between circles in aniamtion*/
#balls {
	padding-left: 0px;
}

/*centering the entire footer as one*/
#footercontainer {
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-align: center;
}
/*
*/
/*
Floating Bubbles Animation
/*
/*
/*Main footer bubble div and link styling*/
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	border: black;
	border-width: 2px;
}

@media only screen and (max-width: 400px) {
	.social-icons {
		padding-left: 0;
	}
}

/*footer links spacing*/
.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}
	/*footer copyright information styling*/
	.social-icons li.title {
		margin-right: 15px;
		text-transform: uppercase;
		color: #96a2b2;
		font-weight: 700;
		font-size: 13px
	}

/*footer bubble linking and ease transition*/
.social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
	/*footer bubble 1 color animation*/
	.social-icons a.social1 {
		animation: movesocial1 3s infinite;
		animation-delay: 2s;
		border: black;
		border-width: 2px;
	}
	/*footer bubble 2 color animation*/
	.social-icons a.social2 {
		animation: movesocial2 3s infinite;
		animation-delay: 3s;
		border: black;
		border-width: 2px;
	}
	/*footer bubble 3 color animation*/
	.social-icons a.social3 {
		animation: movesocial3 3s infinite;
		animation-delay: 4s;
		border: black;
		border-width: 2px;
	}
	/*footer bubble 4 color animation*/
	.social-icons a.social4 {
		animation: movesocial4 3s infinite;
		animation-delay: 5s;
		border: black;
		border-width: 2px;
	}

/*footer bubble sizing*/
.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}


/*footer bubble 1*/
.social-icons a.social1:hover {
	background-color: #383838
}
/*footer bubble 2*/
.social-icons a.social2:hover {
	background-color: #282828
}
/*footer bubble 3*/
.social-icons a.social3:hover {
	background-color: #181818
}
/*footer bubble 4*/
.social-icons a.social4:hover {
	background-color: #000000
}

@media (max-width:767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600
	}
}
/*END OF FOOTER*/
/*
/*END OF GENERAL BODY STYLING*/
/*
/*
/*
/*START ANIMATIONS*/
/*
/*
/*

/*About1 (About) -- Paragraph Entrance Animation*/
@keyframes About1 {
	0% {
		margin-right: 200%
	}

	100% {
		margin-right: 5%;
	}
}

/*About Picture Entrance Animation*/
@keyframes AboutPicture {
	0% {
		margin-left: -100%;
		opacity: 0;
		border-radius: 0;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		margin-left: 10%;
	}
}

/*About Picture Entrance Animation at 700 px -- (Half-Window)*/
@keyframes AboutPictureMobile {
	0% {
		margin-left: -100%;
		opacity: 0;
		border-radius: 0;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		margin-top: 20%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

@keyframes AboutPictureMobile2 {
	0% {
		margin-left: -100%;
		opacity: 0;
		border-radius: 0;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		margin-top: 30%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*Return Home Top Nav Intro Animation*/
@keyframes ReturnTop {
	0% {
		opacity: 0;
		margin-left: -20%;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 0;
		margin-left: -20%;
	}

	90% {
		opacity: 0.7;
	}

	100% {
		opacity: 0.7;
		margin-left: 0;
	}
}

/* Main Nav Intro Animation */
@keyframes AboutNav {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 95%;
		opacity: 0.5;
	}
}

/* Main Nav Intro at 83% from Bottom */
@keyframes AboutNavMobile {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 95%;
		opacity: 0.5;
	}
}

/* Main Nav Intro at 85% from Bottom */
@keyframes AboutNavMobile2 {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 95%;
		opacity: 0.5;
	}
}

/* Main Nav Intro at 87% from Bottom */
@keyframes AboutNavMobile3 {
	0% {
		background-color: black;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 1;
	}

	35% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1
	}

	50% {
		background-color: #333;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	90% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 100%;
		opacity: 0.7;
	}

	100% {
		background-color: #333;
		width: 100%;
		height: 100%;
		bottom: 95%;
		opacity: 0.5;
	}
}

/*AboutNav Links - Intro Animation*/
@keyframes AboutNavLetters {
	0% {
		background-color: #333;
		opacity: 0;
	}

	100% {
		background-color: #333;
		opacity: 0.5;
	}
}

@keyframes movesocial1 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: white;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: white;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes movesocial2 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: #f90;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: white;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes movesocial3 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: white;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: white;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes movesocial4 {
	0% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		background-color: white;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	75% {
		background-color: white;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes followsocial {
	0% {
		color: white
	}

	25% {
		color: white;
	}

	50% {
		color: white;
	}

	75% {
		color: #f90;
	}

	100% {
		color: white;
	}
}

@keyframes followname {
	0% {
		color: white
	}

	25% {
		color: #f90;
	}

	50% {
		color: white;
	}

	75% {
		color: white;
	}

	100% {
		color: white;
	}
}

@keyframes jessemobile {
	0% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	15% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	30% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	45% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	55% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	65% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	75% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	90% {
		color: #FFFFEA;
		font-family: sans-serif;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}
}

/*New page load name animation*/
@keyframes jesse {
	0% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	15% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}

	30% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	45% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	55% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	65% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	75% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 10px;
		background-color: transparent;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	90% {
		color: #FFFFEA;
		font-family: sans-serif;
		letter-spacing: 5px;
		background-color: transparent;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		color: #333;
		font-family: sans-serif;
		letter-spacing: normal;
	}
}

/* Flickering animation */
@keyframes flicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px #f90, 0 0 11px #f90, 0 0 19px #f90, 0 0 40px #fff, 0 0 80px #f90, 0 0 90px #fff, 0 0 100px #f90, 0 0 150px #f90;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

@keyframes altflicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 5px #f90, 0 0 10px #f90, 0 0 15px #f90, 0 0 20px #fff, 0 0 25px #f90, 0 0 30px #fff, 0 0 35px #f90, 0 0 40px #f90;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

/*about picture vibrate animation*/
@keyframes avihover {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}

	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}

	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}

	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}

	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

@-webkit-keyframes hvr-bob2 {
	0% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}

	50% {
		-webkit-transform: translateY(-62px);
		transform: translateY(-62px);
	}

	100% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
}

@keyframes hvr-bob2 {
	0% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}

	50% {
		-webkit-transform: translateY(-62px);
		transform: translateY(-62px);
	}

	100% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
}

@-webkit-keyframes hvr-bob-float2 {
	100% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
}

@keyframes hvr-bob-float2 {
	100% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
}

@-webkit-keyframes hvr-ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}

@keyframes hvr-ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}

@-webkit-keyframes hvr-wobble-bottom {
	16.65% {
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
	}

	33.3% {
		-webkit-transform: skew(10deg);
		transform: skew(10deg);
	}

	49.95% {
		-webkit-transform: skew(-6deg);
		transform: skew(-6deg);
	}

	66.6% {
		-webkit-transform: skew(4deg);
		transform: skew(4deg);
	}

	83.25% {
		-webkit-transform: skew(-2deg);
		transform: skew(-2deg);
	}

	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}

@keyframes hvr-wobble-bottom {
	16.65% {
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
	}

	33.3% {
		-webkit-transform: skew(10deg);
		transform: skew(10deg);
	}

	49.95% {
		-webkit-transform: skew(-6deg);
		transform: skew(-6deg);
	}

	66.6% {
		-webkit-transform: skew(4deg);
		transform: skew(4deg);
	}

	83.25% {
		-webkit-transform: skew(-2deg);
		transform: skew(-2deg);
	}

	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}

/*END ANIMATIONS*/

/*
/*
/*
/*
-----End all code
/*
/*
/*
*/
