﻿﻿ /*This website is under development and changes daily.*/
/*The goal is to achieve a short but sweet browsing experience with fun animations.*/
/*HTML div Sizing*/
html {
	width: 100%
}

/*General Body Styling*/
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	overflow: hidden;
	background-color: black;
}

/*Container-fluid Sizing, Alignment and Responsivenss*/
.HomeContainer {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
	display: block;
	width: 100%;
}

/*Full Name Span Styling*/
.container-fluid span {
	text-transform: uppercase;
	display: block;
}

/* Personal Name Styling and Animation Settings*/
/*First Name*/
.text1 {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 6px;
	margin-bottom: 0px;
	position: relative;
	animation: text 2s 1;
	color: white;
	font-family: sans-serif;
	text-align: center;
}

/*Last Name*/
.text2 {
	font-size: 35px;
	color: #808080;
	position: relative;
	animation: text 2s 1;
	font-family: sans-serif;
	text-align: center;
}

/*Resume Link Styling*/
.link1 {
	font-size: 25px;
	color: darkgrey;
	position: relative;
	margin-top: 30px;
	animation: link 2.5s 1;
	display: block;
	font-family: sans-serif;
}
	/*Resume Hover Animation*/
	.link1:hover {
		position: relative;
		color: darkgoldenrod;
		font-weight: 600;
	}

/*LinkedIn and GitHub Link Styling*/
.link2,
.link3 {
	font-size: 20px;
	color: lightgrey;
	position: relative;
	margin-top: 20px;
	animation: Post 2.6s 1;
	display: block;
	font-weight: 500;
	font-family: Arial;
}

	/*LinkedIn Hover Animation*/
	.link2:hover {
		position: relative;
		color: #008fdd;
		font-weight: 600;
	}

	/*GitHub Hover Animation*/
	.link3:hover {
		position: relative;
		color: #b300b3;
		font-weight: 600;
	}

.text1, .text2, .link1, .link2, .link3 {
	text-shadow: 0px 0px 6px rgba(50,25,55,0.5);
}

/*Temporary About Tab (Top Right) Styling*/
.AboutNav {
	text-decoration: none;
	background-color: transparent;
	font-size: 30px;
	font-family: sans-serif;
	text-align: right;
	color: darkgrey;
	font-weight: 400;
	display: block;
	float: right;
	margin-top: 2%;
	margin-right: 2%;
	opacity: 0.5;
	height: 100%;
	animation: AboutPost 2.6s normal;
}

	.AboutNav:hover {
		opacity: 1;
		text-decoration: none;
		color: darkgrey;
	}

/*
/*START of Cloud Styling*/
/*
/*
/* Main Cloud Div */
div.clouds {
	position: relative;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20%;
}

/*All Cloud Styling, Placement, and Animation Settings; Cloud Animations are staggered by durations and delays*/
/*Cloud 1*/
.firstCloud {
	position: relative;
	left: -200px;
	top: 65%;
	animation: move 28s linear 6s infinite;
	width: 150px;
	opacity: 0.25;
}
/*Cloud 2*/
.secondCloud {
	position: absolute;
	left: -200px;
	top: 45%;
	animation: move 25s linear 4s infinite;
	width: 200px;
	opacity: 0.36;
}
/*Cloud 3*/
.thirdCloud {
	top: 8%;
	left: -200px;
	position: relative;
	animation: move 32s linear 2.6s infinite;
	width: 200px;
	opacity: 0.55;
}
/*Cloud 4*/
.fourthCloud {
	top: 25%;
	left: -200px;
	position: relative;
	animation: move 30s linear 4s infinite;
	width: 200px;
	opacity: 0.3;
}
/*Cloud 5*/
.FifthCloud {
	top: 42%;
	left: -200px;
	position: relative;
	animation: move 27s linear 4.5s infinite;
	animation-delay: 4.5s;
	width: 200px;
	opacity: 0.6;
}
/*Cloud 6*/
.SixthCloud {
	top: 5%;
	left: -200px;
	position: absolute;
	animation: move 30s linear 2.6s infinite;
	width: 150px;
	opacity: 0.7;
}
/*Cloud 7*/
.SeventhCloud {
	position: absolute;
	left: -200px;
	top: 35%;
	animation: move 30s linear 5.5s infinite;
	animation-delay: 5.5s;
	width: 200px;
	opacity: 0.3;
}
/*Cloud 8*/
.EighthCloud {
	top: 80%;
	left: -200px;
	position: absolute;
	animation: move 32s linear 2.6s infinite;
	width: 200px;
	opacity: 0.2;
}
/*Cloud 9*/
.NinthCloud {
	top: 62%;
	left: -200px;
	position: absolute;
	animation: move 28s linear 7s infinite;
	animation-delay: 7s;
	width: 200px;
	opacity: 0.4;
}
/*Cloud 10*/
.TenthCloud {
	top: 70%;
	left: -200px;
	position: absolute;
	animation: move 25s linear 5s infinite;
	animation-delay: 5s;
	width: 200px;
	opacity: 0.45;
}
/*
/*END of Cloud Styling*/
/*
/*

/*Circling Skills Graphic Styling / Positiong*/
#SkillGraphic {
	position: relative;
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-content: center;
	margin-top: 5%;
	-webkit-animation: Rotation 16s linear infinite;
	animation: Rotation 16s linear infinite;
	animation-delay: 2.2s;
	opacity: 0;
}

/* This enables the Skills Graphic Animation scale to Width -- (iPhone)*/
@media only screen and (max-width: 500) {
	#SkillGraphic {
		margin-top: 200px;
		width: 75%;
		height: 75%;
	}
}
/* This enables the Skills Graphic Animation scale to Height -- (iPhone)*/
@media only screen and (max-height: 850px) {
	#SkillGraphic {
		margin-top: 200px;
		width: 75%;
		height: 75%;
	}
}

/*
/*
START of Span Area Stylings
/*
/*
/*Span 1, 2, 3 Hover Animation Styling*/
span1, span2, span3 {
	position: relative;
	display: block;
	cursor: pointer;
	text-align: center;
}

span4 {
	font-family: sans-serif;
	font-size: 25px;
}

/*Resume Line-Through Hover Animation Settings*/
span1:before, span1:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	top: 50%;
	margin-top: -0.5px;
	background: #b8860b;
	font-weight: 600;
	overflow: hidden;
}

span1:before {
	left: -2.5px;
}

span1:after {
	right: 2.5px;
	background: #b8860b;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	font-weight: 600;
	overflow: hidden;
}

span1:hover:before {
	background: #b8860b;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span1:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
	font-weight: 600;
	overflow: hidden;
}

/*LinkedIn Line-Through Hover Animation Settings*/
span2:before, span2:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	top: 50%;
	margin-top: -0.5px;
	background: #008fdd;
	font-weight: 600;
	overflow: hidden;
}

span2:before {
	left: -2.5px;
}

span2:after {
	right: 2.5px;
	background: #008fdd;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	font-weight: 600;
	overflow: hidden;
}

span2:hover:before {
	background: #008fdd;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span2:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
	font-weight: 600;
	overflow: hidden;
}

/*GitHub Line-Through Animation Hover Settings*/
span3:before, span3:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	top: 50%;
	margin-top: -0.5px;
	background: #b300b3;
	font-weight: 600;
	overflow: hidden;
}

span3:before {
	left: -2.5px;
}

span3:after {
	right: 2.5px;
	background: #b300b3;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	font-weight: 600;
	overflow: hidden;
}

span3:hover:before {
	background: #b300b3;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span3:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
	font-weight: 600;
	overflow: hidden;
}
/*
/*END of Span Stylings
/*
/*

/*
/*
/* START ALL ANIMATIONS */
/*

/*Full Name Animation*/
@keyframes text {
	0% {
		color: black;
		letter-spacing: 400px;
		margin-bottom: -40px;
		margin-top: 100px;
	}

	33% {
		letter-spacing: 25px;
		margin-bottom: -40px;
		color: grey;
	}

	43% {
		letter-spacing: 25px;
		margin-bottom: -40px;
		color: white;
	}

	47% {
		letter-spacing: 25px;
		margin-bottom: -40px;
		color: white;
	}


	66% {
		letter-spacing: 25px;
		margin-bottom: -40px;
		color: lightgrey;
	}

	75% {
		letter-spacing: 8px;
		margin-bottom: -40px;
		color: white;
	}
}

/*Resume Link Animation*/
@keyframes link {
	0% {
		color: black;
		transform: translateX(500);
		transform: translateY(500);
		margin-top: 100px;
		opacity: 0;
	}


	10% {
		color: black;
		transform: translateX(0);
		transform: translateY(0);
		margin-top: 100px;
		opacity: 0;
	}

	33% {
		transform: translateX(-78px);
		transform: translateY(-78px);
		margin-top: 50px;
		color: black;
		opacity: 0;
	}

	40% {
		transform: translateX(-80px);
		transform: translateY(-75px);
		margin-top: 50px;
		font-weight: 900;
		letter-spacing: 100px;
		color: white;
	}

	47% {
		transform: translateX(-80px);
		transform: translateY(-75px);
		margin-top: 50px;
		letter-spacing: 25px;
		color: white;
	}

	66% {
		transform: translateX(50px);
		transform: translateY(50px);
		margin-top: 0px;
		color: white;
	}

	75% {
		transform: translateX(50px);
		transform: translateY(50px);
		margin-top: 0px;
		color: white;
		font-weight: 400;
	}
}

/*LinkedIn and GitHub NavLink Animation*/
@keyframes Post {

	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

@keyframes AboutPost {

	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 0.5;
	}
}

/*"About Nav Link (Top Right) Animation  //// Commented out until About Page is Developed.*/
@keyframes AboutNav {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 0.5;
	}
}

/*Makes About Tab bounce on hover*/
@keyframes AboutNav {
	0%, 20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	60% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

/*Cloud Animation*/
@keyframes move {
	from {
		left: -200px;
	}

	to {
		left: 100%;
	}
}

/*Compatability Cloud Animation*/
@-webkit-keyframes move {
	from {
		left: -200px;
	}

	to {
		left: 100%;
	}
}

/*Rotation Animation for Skills Graphic*/
@keyframes Rotation {
	0% {
		transform: rotate(0deg);
		opacity: 0;
	}

	5% {
		opacity: 0.5;
		transform: rotate(200deg)
	}

	10% {
		opacity: 0.7
	}

	30% {
		opacity: 1;
	}

	40% {
		opacity: 0.7
	}

	50% {
		opacity: 0.3;
		transform: rotate(270deg)
	}

	60% {
		opacity: 0.5;
	}

	75% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		transform: rotate(360deg);
	}
}
