@font-face {
	font-family: 'subspace-webfont';
	src: url('subspace-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Sansation_Bold';
	src: url('Sansation_Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Sansation_Regular';
	src: url('Sansation_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Aller_Std_Bd';
	src: url('Aller_Std_Bd.ttf') format('truetype');
}

#s1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

html {
	width: 100%;
	background-color: white;
}

/*General Body Styling*/
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
}

/*General Container Styling*/
.container-fluid {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
	display: block;
	width: 100%;
}

	.container-fluid span {
		text-transform: uppercase;
		display: block;
	}

/* Flickering animation */
@keyframes flicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #000, 0 0 19px #fff, 0 0 40px #000, 0 0 80px #fff, 0 0 90px #000, 0 0 100px #fff, 0 0 150px #000;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

/* Personal Name Styling and Animation Settings*/
/*SWITCHED - Music*/
.text1 {
	opacity: 1 !important;
	width: 100%;
	font-size: 55px;
	letter-spacing: 8px;
	margin: auto;
	position: absolute;
	top: -15%;
	left: 50%;
	animation-timing-function: ease-out;
	transform-origin: bottom center;
	animation-duration: 5s;
	transform: translate(-50%, -50%);
	font-family: subspace, subspace-webfont;
	text-align: center;
	color: white;
	text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ff7700, 0 0 42px #ff7700, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #ff7700;
}

	.text1:hover, .text1:focus, .text1:active {
		text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ff7700, 0 0 42px #ff7700, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #ff7700;
		color: #f90;
	}

	.text1 spans {
		animation: soundcloud 10s linear infinite;
		animation-delay: 2.2s;
	}

	.text1 spant {
		animation: soundcloud2 10s linear infinite;
		animation-delay: 2.2s;
	}

	/*increase clickable area for links*/
	.text1 a {
		display: inline-block;
		position: relative;
		padding: 2em;
		margin: -2em;
	}

@media only screen and (max-width: 800px) {
	.text1 {
		font-size: 35px;
		height: 20vh;
		margin-top: 7px;
	}
}

@keyframes paintdrop {
	0% {
		opacity: 1;
		transform: translate3d(0px, -3000px, -2000px);
	}

	1% {
		opacity: 0;
		transform: translate3d(0px, -3000px, -2000px);
	}

	25% {
		transform: translate3d(0px, -200px, -200px) scale(3) rotateX(0) rotateY(0);
	}

	50% {
		transform: translate3d(200px, -0px, -0px) scale(6) rotateX(180deg) rotateY(90deg);
	}


	90% {
		opacity: 0;
		transform: translate3d(-200px, 200px, 200px) scale(3) rotateX(360deg) rotateY(180deg);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

/*Inquiries Here text/link*/
#text2 {
	opacity: 1 !important;
	font-size: 24px;
	width: 100%;
	letter-spacing: 5px;
	font-family: subspace, subspace-webfont;
	text-align: center;
	color: white;
	padding-top: 5px;
	text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ff7700, 0 0 42px #ff7700, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #ff7700;
}

	#text2:hover, #text2:focus, #text2:active {
		text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ff7700, 0 0 42px #ff7700, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #ff7700;
		color: #f90;
	}

@media only screen and (max-width: 800px) {
	#text2 {
		font-size: 18px;
		margin-top: -10px;
	}
}

/*Main Footer Div*/
.footer {
	z-index: 3;
	background-color: #333;
	padding: 5px 0 20px;
	font-size: 15px !important;
	color: white;
	background: linear-gradient(transparent, #000000);
	height: 175px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	font-family: Sansation_Regular;
	font-size: 18px;
}

@media only screen and (max-width:767px) {
	.footer {
		padding: 0px 0 20px;
		margin-top: -5px;
	}
}

/*footer link positioning*/
.footer a {
	color: white;
	margin-left: auto;
	margin-right: auto;
}
	/*Full Name in Copyright text hover animation*/
	.footer a:hover {
		text-decoration: none;
		color: white;
	}

/*Copyright text left align*/
.copyright-text {
	margin: auto;
	text-align: center;
	position: relative;
	font-size: 15px;
	opacity: 0.7;
}

span {
	color: black;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

	span:hover {
		color: white;
	}

spanM {
	font-size: 18px;
}

	spanM:hover {
		color: #f90
	}

dev {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	color: white;
	text-shadow: 0 0 7px #f90, 0 0 10px #000, 0 0 21px #f90, 0 0 42px #f90, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #f90;
}

	dev:hover, dev:focus, dev:active {
		color: #f90;
		text-shadow: 0 0 7px #f90, 0 0 10px #000, 0 0 21px #f90, 0 0 42px #FFFFFF, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #FFFFFF, 0 0 151px #FFFFFF;
	}

/*"Made by" Heart coloring*/
.heart {
	color: salmon;
}

/*Adjust alignment on -- (iPhone) */
@media only screen and (max-width:767px) {
	.copyright-text {
		text-align: center;
		margin: auto;
	}
}

/*Align content center*/
.footer .copyright-text, .site-footer .social-icons {
	text-align: center
}

/* Cloud Background Div Styling*/
div.clouds {
	position: relative;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

/*All Cloud Styling, Placement, and Animation Settings*/
.firstCloud {
	position: relative;
	left: -200px;
	top: 150px;
	animation: move 25s linear 2s infinite;
	width: 150px;
	opacity: 0.73;
}

.secondCloud {
	position: absolute;
	left: -200px;
	top: 200px;
	animation: move 20s linear 0s infinite;
	width: 200px;
	opacity: 0.8;
}

.thirdCloud {
	top: 250px;
	left: -200px;
	position: relative;
	animation: move 23s linear 1s infinite;
	width: 200px;
	opacity: 0.8;
}

.fourthCloud {
	top: 225px;
	left: -200px;
	position: relative;
	animation: move 25s linear 2s infinite;
	width: 200px;
	opacity: 0.5;
}

.FifthCloud {
	top: 350px;
	left: -200px;
	position: relative;
	animation: move 27s linear 4s infinite;
	width: 200px;
	opacity: 0.8;
}

.SixthCloud {
	top: 300px;
	left: -200px;
	position: absolute;
	animation: move 30s linear 0s infinite;
	width: 150px;
	opacity: 0.7;
}

.SeventhCloud {
	position: absolute;
	left: -200px;
	top: 350px;
	animation: move 30s linear 3s infinite;
	width: 200px;
	opacity: 0.3;
}

.EighthCloud {
	top: 400px;
	left: -200px;
	position: absolute;
	animation: move 25s linear 1s infinite;
	width: 200px;
	opacity: 0.5;
}

.NinthCloud {
	top: 500px;
	left: -200px;
	position: absolute;
	animation: move 22s linear 2s infinite;
	width: 200px;
	opacity: 0.8;
}

.TenthCloud {
	top: 600px;
	left: -200px;
	position: absolute;
	animation: move 20s linear 0s infinite;
	width: 200px;
	opacity: 0.45;
}

/*
*/
/*------ FOOTER
*/
#social_icon_footer {
	margin-left: 0 auto;
	margin-right: 0 auto;
	background-color: transparent;
	width: 100%;
}

	#social_icon_footer a {
		color: #333;
		animation: none;
		animation-delay: 0;
	}

	#social_icon_footer .social:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	#social_icon_footer .social {
		-webkit-transform: scale(0.8);
		/* Browser Variations: */
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
	}
	/* Multicoloured Hover Variations */

	#social_icon_footer #social-fb:hover {
		color: #3B5998;
	}

	#social_icon_footer #social-gh:hover {
		color: #b300b3;
	}

	#social_icon_footer #social-sc:hover {
		color: #FFFC00;
	}

	#social_icon_footer #social-ln:hover {
		color: #008fdd;
	}

/*
/* Start ALL ANIMATIONS
/*
/*
/*Cloud Animation*/
@keyframes move {
	from {
		left: -200px;
	}

	to {
		left: 100%;
	}
}

/*Compatability Cloud Animation*/
@-webkit-keyframes move {
	from {
		left: -200px;
	}

	to {
		left: 100%;
	}
}

/* Flickering animation */
@keyframes flicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #000, 0 0 80px #fff, 0 0 90px #000, 0 0 100px #f90, 0 0 150px #000;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

@keyframes altflicker {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 5px #f90, 0 0 10px #f90, 0 0 15px #f90, 0 0 20px #fff, 0 0 25px #f90, 0 0 30px #fff, 0 0 35px #f90, 0 0 40px #f90;
	}

	20%, 24%, 55% {
		text-shadow: none;
	}
}

/*Text 3 (Returning Music Text) animation */
@keyframes comeback {

	0%, 25% {
		margin: 0 auto;
		position: relative;
		margin-top: 30px;
		opacity: 1;
	}

	70% {
		margin: 0 auto;
		position: relative;
		margin-top: 30px;
		opacity: 1;
	}

	100% {
		opacity: 1;
		position: relative;
		margin-top: 0;
		top: 15%;
		font-size: 80px;
	}
}

/*apear Animation for heart paint Graphic*/
@keyframes appear {
	0% {
		transform: scale(0.7,0.7) translate(-50%, -50%);
		transform-origin: left top;
	}

	50% {
		transform: scale(1.5,1.5) translate(-50%, -50%);
		transform-origin: left top;
	}

	100% {
		transform: scale(1,1) translate(-50%, -50%);
		transform-origin: left top;
	}
}

@keyframes soundcloud {
	0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
		opacity: 0.99;
		color: white;
		text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ff7700, 0 0 42px #ff7700, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #ff7700;
	}

	19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
		opacity: 0.4;
		color: white;
		text-shadow: none;
	}
}

@keyframes soundcloud2 {
	0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
		opacity: .99;
		color: white;
		text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #ff7700, 0 0 42px #ff7700, 0 0 82px #000, 0 0 92px #fff, 0 0 102px #000, 0 0 151px #ff7700;
	}

	20%,21.999%,63%,63.999%,65%,69.999% {
		opacity: 0.4;
		color: white;
		text-shadow: none;
	}
}

/*Jessio Music (Text 1 & 2 ) Animation*/
@keyframes text {
	0% {
		color: transparent;
		letter-spacing: 400px;
		margin-bottom: -40px;
		margin-top: 100px;
		visibility: hidden;
	}

	33% {
		letter-spacing: 225px;
		margin-bottom: -40px;
		color: black;
	}

	43% {
		letter-spacing: 25px;
		margin-bottom: -50px;
		color: gray;
	}

	47% {
		letter-spacing: 125px;
		margin-bottom: -60px;
		color: white;
	}


	66% {
		letter-spacing: -25px;
		margin-bottom: -75px;
		color: dimgray;
	}

	85% {
		letter-spacing: 8px;
		margin-bottom: -90px;
		color: grey;
	}

	100% {
		letter-spacing: 8px;
		margin-bottom: -100%;
		color: #0e0f0f;
	}
}

@-webkit-keyframes hvr-wobble-top {
	16.65% {
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
	}

	33.3% {
		-webkit-transform: skew(10deg);
		transform: skew(10deg);
	}

	49.95% {
		-webkit-transform: skew(-6deg);
		transform: skew(-6deg);
	}

	66.6% {
		-webkit-transform: skew(4deg);
		transform: skew(4deg);
	}

	83.25% {
		-webkit-transform: skew(-2deg);
		transform: skew(-2deg);
	}

	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}

@keyframes hvr-wobble-top {
	16.65% {
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
	}

	33.3% {
		-webkit-transform: skew(10deg);
		transform: skew(10deg);
	}

	49.95% {
		-webkit-transform: skew(-6deg);
		transform: skew(-6deg);
	}

	66.6% {
		-webkit-transform: skew(4deg);
		transform: skew(4deg);
	}

	83.25% {
		-webkit-transform: skew(-2deg);
		transform: skew(-2deg);
	}

	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}

#jessio {
	width: 500px;
	height: 500px;
}

@media only screen and (max-width: 800px) {
	#jessio {
		width: 250px;
		height: 250px;
	}
}

	.splatter {
		z-index: 799;
		-webkit-animation-name: zoomIn;
		animation-name: zoomIn;
		-webkit-animation-duration: .2s;
		animation-duration: .2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
		transition: ease 0.5s;
	}

	.paint {
		left: 50%;
		top: 50%;
		margin-left: 0 auto;
		margin-right: 0 auto;
		margin-top: -10%;
		position: absolute;
		transform: translate(-50%, -50%) !important;
	}


	@-webkit-keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes zoomIn {
		0% {
			opacity: 0;
			-webkit-transform: scale3d(.3, .3, .3);
			transform: scale3d(.3, .3, .3);
		}

		50% {
			opacity: 1;
		}
	}

	@keyframes zoomIn {
		0% {
			opacity: 0;
			-webkit-transform: scale3d(.3, .3, .3);
			transform: scale3d(.3, .3, .3);
		}

		50% {
			opacity: 1;
		}
	}

	.zoomIn {
		-webkit-animation-name: zoomIn;
		animation-name: zoomIn;
	}
